.cards{
    margin-top: 100px !important;
    /* margin-left: 40px; */
    background-color:	#19272e !important;
    /* width: fit-content; */
    /* border-radius: 500px; */
    height:100%;
    /* display: inline-block; */
    width: 100%;
    
}
