

.fixed-container{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.relative-container{
    position: relative;
    margin-top: 70px;
    width: 100%;
}

.animated-container{
    width: 100%;
    display: inline-block;
}

.top{
    border: red solid 5px;
    margin-bottom: 70px;
}
.all{
  background-color: #19272e;
}
.name{
  background-color: #19272e;
  color: white;
  font-weight: bold;
  font-size: 40px;
  /* margin-left: 400px; */
  width: fit-content;
  text-align: center;
  display: flex;
  margin-bottom: 0px;
}