.overview {
  color: black;
}
.media {
  /* height:200px */
  width: 100%;
  height: 15vw;
  /* object-fit: cover; */
}
.poster {
  /* max-height: 100%; */
  max-width: 100%;
}

.absolute-cont {
  position: absolute;
  max-width: 180px;
}
.card-cont {
  transition: 0.5s;
  /* position: relative; */
  display: inline-block;
  margin-left: 30px;
  /* margin-inline-end: 4px; */
}
.card-cont:hover {
  transform: scale(1.3);
}
/* .relative-cont{
    position: relative;
} */

.fav {
  text-align: center;
  background-color: #e2e7e9;
  border-radius: 7px;
  color: black;
   font-weight: bold;
   /* margin-bottom: 15px; */
   padding: 10px;
  
  /* letter-spacing: 5px; */
  /* margin-left: 2px; */
  /* word-spacing: 10px; */
}
span {
  margin-bottom: 25px;
}
.play{
  /* background-color: black; */
  display: inline;
  float: right;
  /* padding: 10px; */
  
}
/* .playbtn{
  padding: 5px;
  margin-bottom: 5px;
} */
